# config file for ansible
# =======================
# ANSIBLE_CONFIG (an environment variable)
# ansible.cfg (in the current directory)
# .ansible.cfg (in the home directory)
# /etc/ansible/ansible.cfg
#
# (source http://docs.ansible.com/ansible/intro_configuration.html)

[defaults]
inventory = inventory/empty
forks = 20
host_key_checking = False
timeout = 60
#ansible_keep_remote_files = True
retry_files_enabled = False
nocows = 1

# replace default stdout logger by : https://github.com/octplane/ansible_stdout_compact_logger.git
callback_plugins = ~/.ansible/plugins/callback:/usr/share/ansible/plugins/callback
stdout_callback = anstomlog
